name: Build

on: [push, pull_request]

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: hynek/build-and-inspect-python-package@v2

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: hynek/setup-cached-uv@v2

      - run: uv run pytest

  attest:
    needs: [dist]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      attestations: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: Packages
          path: dist

      - uses: actions/attest-build-provenance@v3
        with:
          subject-path: "dist/*"
